S3method(print,ctsemgui_spec)
export(ctgui_build_matrices)
export(ctgui_build_measurement_matrices)
export(ctgui_build_model)
export(ctgui_export_code)
export(ctgui_generate_data)
export(ctgui_graph_edges)
export(ctgui_latex)
export(ctgui_launch_app)
export(ctgui_measurements)
export(ctgui_matrix)
export(ctgui_matrix_names)
export(ctgui_set_matrix)
export(ctgui_set_matrix_value)
export(ctgui_spec)
export(ctgui_structures)
export(ctgui_to_ctsem_model)
export(ctgui_validate)
export(ctgui_validate_data)
